<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Overview | Yoga Instructor</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">YogaMaster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_class') }}">Add a class</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>

        </ul>
    </div>
</nav>

<!-- Dashboard Container -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mb-4">Admin Dashboard</h1>
            <p>Overview of bookings for classes.</p>
        </div>
    </div>

    <!-- Bookings Table -->
    <div class="row my-5">
        <div class="col-md-12">
            <h2>Class Bookings</h2>
            <table class="table table-striped ">
                <thead class="thead-dark">
                    <tr>
                        <th>Class Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Instructor</th>
                        <th>number of participants</th>
                        <th>Booked Users</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td>{{ course.class_name }}</td>
                        <td>{{ course.date.strftime('%d-%m-%Y') }}</td>
                        <td>{{ course.time.strftime('%H:%M') }}</td>
                        <td>{{ course.instructor }}</td>
                        <td>{{ course.current_participants }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for user in course.booked_users %}
                                <li>{{ user.username }}</li>
                                {% else %}
                                <li>No users have booked this course.</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer bg-primary text-white text-center py-3 mt-5">
    <p>&copy; 2024 YogaMaster. All Rights Reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
