{% extends 'base/base_index.html' %}
{% block account %}

    <!-- login Form -->
  <section class="container register-form mb-4" id="login">
    <h3 class="text-center mb-4">Login or <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}#account">Create an account</a></h3>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}  <!-- For CSRF protection -->
        <div class="form-group">
            {{ form.username.label.text }}
            {{ form.username(class="form-control", placeholder="Your Name", id=form.username.id) }}
        </div>
        <div class="form-group">
            {{ form.password.label.text }}
            {{ form.password(class="form-control", placeholder="Password", id=form.password.id) }}
        </div>
        <div class="row">
            <div class="col text-center">
                {{ form.submit(class="btn btn-primary", value="Log in") }}
            </div>
        </div>
    </form>
</section>

{% endblock %}



