 {% extends 'base/base_learn_more.html' %}
 {% block title%}
        <h1>Beginner Yoga Class</h1>
        <p>A calming introduction to yoga that focuses on the basics. Perfect for those new to yoga.</p>
 {% endblock%}


 {% block class_content %}
                <p>This beginner-level yoga class will guide you through fundamental poses and breathing techniques. No prior experience is needed. Join us to develop strength, flexibility, and mindfulness in a supportive environment.</p>

                <h3>What You'll Learn:</h3>
                <ul>
                    <li>Basic yoga postures (asanas)</li>
                    <li>Simple breathing techniques (pranayama)</li>
                    <li>Gentle stretching and warm-ups</li>
                    <li>Introductory meditation</li>
                </ul>


 {% endblock %}
