{% extends 'base/base_learn_more.html' %}
    {% block title%}
        <h1>Intermediate Yoga Class</h1>
        <p>A challenging class for those with a solid foundation in yoga, focusing on strength, flexibility, and advanced techniques.</p>
    {% endblock %}


                {% block class_content %}
                <p>This intermediate-level yoga class is designed for those with experience who want to deepen their practice. Expect to explore more complex poses, improve your balance, and develop a stronger core.</p>

                <h3>What You'll Learn:</h3>
                <ul>
                    <li>Advanced yoga postures (asanas) </li>
                    <li>Refined breathing techniques (pranayama)</li>
                    <li>Strength-building and flexibility exercises</li>
                    <li>Mindfulness and meditation techniques</li>
                </ul>



                {% endblock %}
